*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color: #A25772;
}

.container{
    margin: 160px auto;
    padding: 2rem 2rem;
    width: 250px;
    height: 300px;
    background-color: #EEF5FF;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0,0,0)
}

h1{
    font-size: 2rem;
    color: black;
    margin-bottom: 1.2rem;
}

form input{
    width:92%;
    outline: none;
    border: 1px solid white;
    padding: 12px 20px;
    border-radius: 20px;
    background-color: #EEF5FF;
}

button{
    font-size: 1rem;
    margin-top: 2rem;
    padding: 5px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: white;
    cursor: pointer;
    background-color: blue;
}

button:hover{
    background-color: rgb(127, 78, 174);
}

input:focus{
    border: 1px solid rgb(76, 109, 76);
}
